:root {
  --darkBlue: #283149;
  --greyBlue: #404b69;
  --darkGreen: #00818a;
  --white: #dbedf3;
}
body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
}
main {
  /*padding: 15px;*/
  height: 100vh;
  overflow: hidden;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--darkBlue);
  font-weight: 200;
  padding-bottom: 5px;
  font-size: .75em
}
.from-container,
.to-container {
  height: 50vh;
  margin: 0;
  padding: 0;
}

.from-container {
  height: 45vh;
}

.from-container{
  background: var(--darkBlue);
  position: relative;
}
@media (min-width:200px) and (max-width: 599px){
  .from-container::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: calc(50% - 100vw);
    bottom: calc(-5vh);
    border-left: calc(100vw) solid transparent;
    border-right: calc(100vw) solid transparent;
    border-top: calc(10vh) solid var(--darkBlue);
    z-index: -1;
  }
}
@media (min-width:600px){
  .from-container::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: calc(50% - 600px);
    bottom: -50px;
    border-left: 600px solid transparent;
    border-right: 600px solid transparent;
    border-top: 300px solid var(--darkBlue);
    z-index: -1;
  }
}


.to-container{
  position: relative;
}

#result{
    width: 100%;
    overflow-x: auto;
    position: absolute;
    left: 0;
    font-size: 6em;
    color: var(--darkBlue);
}

#result, input {
  top: 45%;
}

input {
  width: 300px;
  background: rgba(0,0,0,0);
  border: 0;
  color: #fff;
  text-align: center;
  font-size: 6em;
  margin-bottom: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  left: calc(50vw - 150px);
  font-family: 'Raleway', sans-serif;
}


input:focus{
  border-bottom: var(--darkGreen) 1px solid;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

select {
  text-align-last:center;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  border-bottom: 1px var(--darkGreen) solid;
  padding-bottom: 5px
 }

select:focus{
  outline: none;
}

select option {
    margin: 40px;
    background: var(--darkBlue);
    color: #fff;
    /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);*/
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.from-container select {
 color: #fff;
}

#from, #to {
  width: 300px;
  position: absolute;
  top: 25%;
  left: calc(50vw - 150px);
}

/*#to {
  top: 35%;
}*/

.currency {
  width: 300px;
  font-size: 1em;
  font-weight: 200;
  text-transform: uppercase;
  position: absolute;
  top: 85%;
  left: calc(50vw - 150px);
}

.from-container .currency {
  color: #fff;
}

.to-container .currency {
  color: var(--darkBlue);
  /*top: 85%;*/
}

#errorText {
  background: var(--darkGreen);
  padding-top: 5px;
  width: 100%;
  color: #fff;
}

footer{
  overflow: hidden;
}
#simple-toast {
  background: var(--darkGreen);
  width: 100%;
  font-size: 1rem;
  color: #fff;
  position: absolute;
  bottom: -1.2rem;
  transition: bottom 1s;
}

.visible {
  bottom: 0 !important;
}

#simple-toast a {
  color: var(--white);
}

button#switch {
  width: 48px;
  height: 48px;
  position: absolute;
  z-index: 100;
  background: rgba(0,0,0,0);
  border: 0;
  right: 1em;
  bottom: -2em;
  border-radius: 100%;
  background-color: var(--darkGreen);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
img{
  max-width: 90%;
  max-height: 90%;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none
}

#decimal {
  font-size: 1.5rem
}

#simple-toast button{
  text-decoration: underline;
  background: rgba(0, 0, 0, 0);
  border: 0;
  color: var(--white);
  font-size: inherit;
  font-family: 'Raleway', sans-serif;
  padding: 0;
}

#simple-toast button:first-child{
  margin-left: .5rem;
}


/* width */
::-webkit-scrollbar {
    height: 6px;
}


/* Track */
::-webkit-scrollbar-track {
    background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--darkGreen);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--darkGreen);
}
